.pel--attendance-table {
  margin: 0;

  th {
    padding: 1rem;
  }

  tbody td {
    padding: 0.8rem !important;
  }
}

.pel--attendance-table-toolbar .bx--table-toolbar.bx--table-toolbar--normal {
background: transparent;
}