.dropselection__choose {
  margin: 0 0 10px;
  width: 400px;
  display: flex;
}
.dropselection__choose .bx--list-box__wrapper {
  flex-grow: 2;
}
.dropselection__choose .bx--label {
  display: none;
}
.dropselection__choose .bx--list-box__menu {
  width: 100%;
}
.dropselection__choose .bx--list-box__menu-item {
  background: #f6f6f6;
}
.dropselection__choose .bx--list-box__menu-item:hover {
  background: #f6f6ee;
}