.pel--summary {
  padding-right: 2rem;

  .pel--summary--scroll--view {
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 10px;
    .pel--summary-card {
      width: 21rem;

      a:active {
        color: black;
      } a:visited {
        color: black;
      }
    }
  }

  .loader {
    margin: 1rem;

    .bx--skeleton {
      min-width: unset;
      display: block;

      .bx--snippet-container {
        height: auto;
      }
    }
  }

  .card {
    padding: 0;
    height: auto;
    display: flex;
    flex: 1;
    justify-content: center;    
    align-self: center;
    align-content: center;
    flex-direction: column;
    color: #5B1F69;
    overflow: hidden;   
    will-change: transform;

    transition: box-shadow 0.1s ease-in-out, transform 0.15s ease-in-out;

    &.clickable-kpi{
      &:hover{     
        box-shadow: 0 6px 6px 0 rgba(0, 0, 0,.16);
        transform: translateY(-3px);
        background-color: #fff;  
      }  
    }

    &:focus{
      transform: translateY(0);
      box-shadow:none;
      outline-color:#5b1f69;
    }

    .pel--loading object{
      height: 4rem;
    }

    .bx--snippet-container{
      flex:1;
    }
    
    > .bx--card__card-overview {
      flex: 1;
      display: flex;
    }

    .kpi {
      color: #008000;
    }

    .caution-min {
      color: #ff8c00;
    }

    .caution-max {
      color: #ff0000;
    }

    h4{
      color:#fff;
      margin-bottom: 0;
      text-align: center;
    }

    .bx--card-header {
      height: auto;
      display: flex;
      justify-content: center;
      background-color: #5b1f69;
      color: #fff;
      padding: 1rem;
    }

    .content {
      flex:1;
      display: flex;
      justify-content: center;
      display: flex;
      align-items: center;
      max-height: 95px;
    }

    .top-content {
      padding: 1rem;

      p {
        font-size: 3rem;
        line-height: 3rem;
        margin-bottom: 0.25rem;
      }
    }

    .bottom-content {
      text-align: center;
      margin: 0;

      p {
        font-size: 1.2rem;
        margin: 0;
        margin-bottom: 0.25rem;
      }
    }
  }
}
